# make gitignore
.kdev4/
*.kdev4
.kateconfig
.vscode/
.idea/
.clangd/
compile_commands.json
/KoboRoot.tgz
/src/libns.so
/lib/miniz/miniz.o
/lib/nh/nh.o
/src/nickelseries.o
/src/series.o
/lib/nh/nhplugin.moc
/lib/nh/nhplugin.moc.o
