# richgel999/miniz@v2.1.0
lib/miniz/miniz.c linguist-vendored=true
lib/miniz/miniz.h linguist-vendored=true

# pgaskin/NickelMenu@ac9776dbf0ec768aaad7b9429308bb57ace2e126
lib/nh/nh.c          linguist-vendored=true
lib/nh/nhplugin.h    linguist-vendored=true
lib/nh/NickelHook.h  linguist-vendored=true
lib/nh/NickelHook.mk linguist-vendored=true
